.nav_header {
    margin-top: 2rem;
}

.nav_container {
    display: flex;
    justify-content: space-between;
}

.nav_left {
    width: 21%;
}

.nav_img {
    width: 100%;
}

.nav_middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.nav_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    height: 35px;
    border-radius: 10px;
    background-color: var(--color-bg1);
}

.nav_right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav_telegram {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 2.5rem;
    background-color: var(--color-primary);
    width: 13rem;
}

.nav_telegram p {
    margin-left: 0.5rem;
}

.switch {
    display: grid;
    align-items: center;
}


/* ============== MEDIA QUERIES (MEDIUM) ============ */

@media screen and (max-width: 974px) {
    .nav_container {
        display: grid;
    }
    .nav_left {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .nav_img {
        width: 70%;
    }
    .nav_middle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.2rem;
    }
    .nav_right {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
}


/** ============== MEDIA QUERIES (SMALL) ============ */

@media screen and (max-width: 600px) {
    .nav_container {
        display: grid;
    }
    .nav_left {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .nav_img {
        width: 70%;
    }
    .nav_middle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.2rem;
    }
    .nav_right {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
}